html, body {
    height: 100%;
    width: 100%; 
    padding: 0;
    margin: 0;   
}

div {
    width: 33.33%;
    height: 100%;
}

.left {
    background-color: royalblue;
    float: left;
}

.middle {
    background-color: mediumspringgreen;
    float: left;
}

.right {
    position: relative;
    background-color: palegreen;
    height: 80%;
    float: left;
    margin: 0px;
}

.foot {
    position: fixed;
    bottom: 0px;
    background-color: red;
    width: 100%;
    height: 15%;
    color: white;
    font-size: 18pt;
    font-family: sans-serif;
    padding-left: 70px;
    padding-top: 70px;
}
