html, body {
    height: 100%;
    width: 100%; 
    padding: 0;
    margin: 0;   
}

div {
    width: 33%;
    height: 100%;
}

.left {
    background-color: royalblue;
    float: left;
}

.middle {
    background-color: mediumspringgreen;
    float: left;
}

.right {
    background-color: palegreen;
    height: 65%;
    float: left;
}

.foot {
    background-color: red;
    height: 19.5%;
    float:left;
    text-align: center;
    padding-top: 110px;
    color: white;
    font-size: 18pt;
    font-family: sans-serif;
    width: 33%;
}
