header {
    height: 250px;
    width: 100%;
    background-color: black;
}

div {
    height: 700px;
    width: 15%;
    background-color: darkgrey;
}

footer {
    height: 125px;
    width:70%;
    float: bottom;
    background-color: black;
}

.leftside {
    float:left;
}

.rightside {
    float:right;
}