html, body {
    padding: 0;
    margin 0;
    height: 100%;
    width: 100%;
}

header {
    height: 250px;
    width: 100%;
    background-color: dimgrey;
}

div {
    height: 600px;
    width: 15%;
    background-color: darkgrey;
}

footer {
    height: 125px;
    width:70%;
    background-color: black;
    margin-left:15%;
}

.leftside {
    float:left;
}

.rightside {
    float:right;
}

.middle {
    background-color: white;
    float: bottom;
    height:475px;
}